<div class="container-fluild form-container">
  <form>
    <div class="row align-items-center">
      <div class="col-md-12">
        <h4 class="display 4 form-title">Permissions</h4>
      </div>
      <div class="col dashboard">
        <p class="lead">Roles Definition</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions1" value="option1">
          <label class="form-check-label" for="dashOptions1">read - write</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions2" value="option2">
          <label class="form-check-label" for="dashOptions2">read only</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions3" value="option3">
          <label class="form-check-label" for="dashOptions3">none</label>
        </div>
        <div class="col chk-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Add Role
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Update Role
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Delete Role
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col dashboard">
        <p class="lead">User Management</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions1" value="option1">
          <label class="form-check-label" for="dashOptions1">read - write</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions2" value="option2">
          <label class="form-check-label" for="dashOptions2">read only</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions3" value="option3">
          <label class="form-check-label" for="dashOptions3">none</label>
        </div>
        <div class="col chk-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Add User
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Update User
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Delete User
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col dashboard">
        <p class="lead">Dashboard</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions1" value="option1">
          <label class="form-check-label" for="dashOptions1">read - write</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions2" value="option2">
          <label class="form-check-label" for="dashOptions2">read only</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="dashOptions" id="dashOptions3" value="option3">
          <label class="form-check-label" for="dashOptions3">none</label>
        </div>
        <div class="col chk-box">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Add Role
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Update Role
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Delete Role
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>